<main class="page-main relative">
  <div class="page-content--scroll flex h-screen min-h-screen flex-col overflow-auto px-2 py-2.5 lg:px-3.5 lg:py-4 xl:px-4 xl:py-5">
    <.live_component module={TimedWeb.Components.Topnav} id="topnav" />
    <div class="mt-16" />
    {@inner_content}
  </div>
</main>
